/* główne zmienne */
 :root {
    --main-color: #2196F3;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-list {
    display: flex;
    align-items: center;
}
/* === components === */
.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
    }
.logo-web {
    color: #2196F3;
}

.undertitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
}
/* === header === */
.nav-list-item:not(:last-child) {
    margin-right: 46px;
}
.header .address {
    margin-left: auto;
    display: flex;
}
.header .address a { 
    margin-right: 50px;
    padding-left: 10px;
}
.header {
    border-bottom: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header .nav {
    display: flex;
}
.nav-list-link {
    color: #212121;
}
.nav-list-link, .address-mail , .address-phone  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
 }
.nav-list-link:hover, .nav-list-link:focus, .address-mail:hover, .address-mail:focus, .address-phone:hover, .address-phone:focus {
    color: var(--main-color);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    
}
.address-mail , .address-phone {
    font-style: normal;
    color: #757575;
}
.address-icons {
    width: 16px;
    height: 12px;
   }
.icons {
    fill:#757575;
}
.icons:hover {
fill:var(--main-color);
 transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.nav-list-item .active-page::after {
    content: "";
    position: absolute;
     height: 4px;
  width: 55px;
  border-radius: 2px;
  background-color: var(--main-color);
  top: 77px;
  display: flex;
  
}
/* === end header === */

/* === head === */
.head .container{
    background-color: #2F303A;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
.head-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    height: 120px;
    margin: 0 auto 30px auto;
}
.order-btn {
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    height: 50px;
    padding: 10px 41px;
  }
/* ===  end head === */

/* === nasze atuty === */
.strengths-container .strengths-list {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
  }
.strengths-list-item {
    display: inline-block;
    width: 268px;
    min-height: 101px;
    margin-left: 0;
    margin-right: 0;
   }
.strengths-undertitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}
.strengths-list-icon {
    box-sizing: border-box;
    width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4%;
   padding: 25px 100px;
}
.lorem-icon {
width: 70px;
height: 70px;
}
/* === end nasze atuty === */

/* === czym się zajmujemy === */

.whatwedo .undertitle {
    padding-bottom: 50px;
}
.whatwedo-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}
/* === end czym się zajmujemy === */


/* === nasz zespół === */
.team {
    background: #F5F4FA;
}
.team-name, .team-profession {
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name {
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-profession {
    color: #757575;
    padding-bottom: 16px;
    padding-top: 10px;
    margin-bottom: 0;
}
.team .undertitle {
    padding-bottom: 50px;
    padding-top: 94px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}
.team-list-container {
    width: 270px;
    min-height: 368px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}
.team-item-photo {
    width: 270px;
    height: 260px;
}

.social-lists {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-lists-link {
    width: 44px;
height: 44px;
background-color: #fff;
display: flex;
border-radius: 50%;
align-items: center;
justify-content: center;
margin-bottom: 30px;
    fill: #AFB1B8;

}
.social-lists-link:hover, .social-lists-link:focus {
    background-color: var(--main-color);
    fill: #fff;
    transition-property: fill, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.social-icon {
         width: 20px;
     height: 20px;
     }
/* === end nasz zespół === */

/* === nasi klienci === */
.customers .container {
  align-items: center;
  justify-content: center;
  padding-bottom: 94px;
 }
 .customers .undertitle {
     padding-top: 94px;
     padding-bottom: 50px;
 }
.customers-item {
    width: 170px;
    height: 92px;

}
.customers-item-container {
    align-content: center;
    justify-content: center;
    display: flex;
}
.customers-item-logo {
    width: 170px;
    height: 92px;
  fill: #afb1b8;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  padding: 16px 32px;
  }

  .customers-item-logo:hover {
      fill: var(--main-color);
      transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
 .customers-list {
       display: flex;
  align-items: center;
  justify-content: space-between;
 } 
 
  /* === end nasi klienci === */
/* === footer === */
.footer {
    background: #2F303A;
}
.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
       display: flex; 
    }
   
.footer-list-item:not(:last-child) {
    padding-bottom: 9px;
}
.footer-address {
    padding-top: 20px;
}
.footer-address-address, .footer-address-mail, .footer-address-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}
.footer-address-address {
    color: #FFFFFF;
}
.footer-address-mail, .footer-address-phone {
    color: rgba(255, 255, 255, 0.6);
}

.footer-address-address:focus, .footer-address-address:hover, 
.footer-address-mail:focus, .footer-address-mail:hover , .footer-address-phone:focus, .footer-address-phone:hover {
    color: var(--main-color);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.join {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.172;
    letter-spacing: 0.03em;
    font-weight: 700;
    }
.social-side {
    width: 206px;
    border: 1px solid #2F303A;;
    margin-left: 70px;
    margin-top: 12px;
}
.footer-social-lists {
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social-lists-link {
    width: 44px;
height: 44px;
background-color:rgba(0, 0, 0, 0.1);
display: flex;
border-radius: 50%;
align-items: center;
justify-content: center;
margin-bottom: 30px;
    fill: #fff;

}
.footer-social-lists-link:hover, .footer-social-lists-link:focus {
    background-color: var(--main-color);
    fill: #fff;
     transition-property: fill, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.footer-social-icon {
         width: 20px;
     height: 20px;
     }
/* === end footer === */

/* ==== portfolio html ==== */
/* porftolio filtry - przyciski */
.portfolio .container {
    display: flex;
    padding-top: 94px;
    padding-bottom: 50px;
    justify-content: center;
}
.portfolio-filters-item {
    display: inline-block;
}
.filter-btn {
    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;
    text-align: center; 
    width: 115px;
    height: 38px;
    font-family: 'roboto';
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.filter-btn:hover, .filter-btn:focus {
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
/* portfolio projekty */
.project {
    display: flex;
    flex-wrap: wrap;
}
.project .container .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    justify-content: space-around;
   }

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    margin: 0;
  } 
.project-list-item {
    width: 370px;
    padding: 0;
    height: 404px;
    margin-bottom: 30px;
    border-left: solid 1px rgba(238, 238, 238, 1);
    border-right: solid 1px rgba(238, 238, 238, 1);
    border-bottom: solid 1px rgba(238, 238, 238, 1);
    }
.project-list-item:hover, .project-list-item:focus {
    box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.project-item-photo {
    width: 370px;
    height: 294px;
}
