@import "./utils/visually-hidden";
@import "./utils/variables";

@import "./base/common";
@import "./base/container";

@import "./components/logo";
@import "./components/order-btn";
@import "./components/nav-list";
@import "./components/social-links";
@import "./components/undertitle";
@import "./components/backdrop";
@import "./components/modal";

@import "./layout/header";
@import "./layout/head";
@import "./layout/strengths";
@import "./layout/whatwedo";
@import "./layout/team";
@import "./layout/customers";
@import "./layout/address-side";
@import "./layout/social-side";
@import "./layout/newsletter-side";
@import "./layout/footer";

@import "./pages/portfolio/layout/filters";
@import "./pages/portfolio/layout/project";