.address-section {
    padding-top: 20px;
}

.footer-address {
    &__item {
        &:not(:last-child) {
            padding-bottom: 9px;
        }
    }

    &__address,
    &__mail,
    &__phone {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
    }

    &__address {
        color: #ffffff;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

    &__mail,
    &__phone {
        color: rgba(255, 255, 255, 0.6);
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }
    &__address:focus,
    &__address:hover,
    &__mail:focus,
    &__mail:hover,
    &__phone:focus,
    &__phone:hover {
        color: var(--main-color);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



.address-side>.logo {
    color: #fff;
}


