.head .container {
    background-color: #2f303a;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    width: 696px;
    height: 120px;
    margin: 0 auto 30px auto;
}
