.strengths-container .strengths-list {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
}

.strengths-list-item {
    display: inline-block;
    width: 268px;
    min-height: 101px;
    margin-left: 0;
    margin-right: 0;
}

.strengths-undertitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



.strengths-list-icon {
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4%;
    padding: 25px 100px;
}

.lorem-icon {
    width: 70px;
    height: 70px;
}