.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 40px;
}

.modal-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    width: 100%;
}

.modal-label {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    height: 120px;
    padding: 12px 16px;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
    height: 40px;
}

.policy-label {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 4px;
}

.policy-label::before {
    display: inline-block;
    content: "";
    border: 2px solid #000;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 2px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.policy-label::before {
    background-color: var(--main-color);
    border: none;
    background-image: url(../images/check.svg);
}



.modal-btn {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
}

.modal-checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.modal-disclaimer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal-checkbox {
    margin-right: 8px;
}

.modal-input-icon {
    width: 18px;
    height: 18px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.modal-input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.modal-textarea:focus {
    border-color: var(--main-color);
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--main-color);
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
    outline: none;
    fill: var(--main-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.closebtn {
    width: 18px;
    height: 18px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}