.social-lists {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__link {
        width: 44px;
        height: 44px;
        background-color: #fff;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        fill: #afb1b8;
        transition-property: fill, background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

        &:hover,
        &:focus {
            background-color: var(--main-color);
            fill: #fff;
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

}
